* {
  margin: 0;
}
.app {
  background-color: #f1f2f5;

  /* background-color: black; */
}
.app_body {
  display: flex;
}
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
@media (max-width: 750px) {
  .story-reel {
    display: none;
  }
}
