.login {
  display: grid;
  place-items: center;
  height: 100vh;
}
.login > button {
  width: 300px;
  font-weight: 600;
}

h1 {
  margin-top: 10px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.login > div > img {
  object-fit: contain;
  height: 150px;
}
.login > div {
  display: flex;
  flex-direction: column;
}
